# Test Data
sampleData

# Cromwell execution logs
cromwell-executions
cromwell-workflow-logs

#old codes
old_implementation
RSEM_expression_needs_work
rn_rRNA
FeatureCounts/fc_local.wdl
FeatureCounts/fc_inputs_local.json
test_data
wdl_tasks/
README_rough.md

# MacOS Files
.DS_Store
