#Create a VM
gcloud beta compute --project=***REMOVED*** instances create ubuntu1904-nopreempt-rnaseq-12cpu-78gb-1 --zone=us-west1-b --machine-type=n1-standard-16 --subnet=default --network-tier=PREMIUM --maintenance-policy=MIGRATE --service-account=772888428329-compute@developer.gserviceaccount.com --scopes=https://www.googleapis.com/auth/cloud-platform --tags=http-server,https-server --image=ubuntu-1904-disco-v20190417 --image-project=ubuntu-os-cloud --boot-disk-size=200GB --boot-disk-type=pd-standard --boot-disk-device-name=ubuntu1904-nopreempt-rnaseq --labels=pipelines=rna-seq --reservation-affinity=any
#INSTALL DOCKER
sudo snap install docker
#INSTALL JAVA
sudo apt install default-jre
#INSTALL CROMWELL
wget https://github.com/broadinstitute/cromwell/releases/download/40/cromwell-40.jar
#INSTALL WOMTOOLS
wget https://github.com/broadinstitute/cromwell/releases/download/40/womtool-40.jar

#CLONE PIPELINE REPO
git clone -b pipeline_test https://github.com/AshleyLab/motrpac-rna-seq-pipeline.git 

#Install Python
sudo apt-get install -y python3-pip

#Install Pandas
pip3 install pandas
