{
	"base" 			: "/projects/motrpac/PASS1B/RNA/NOVASEQ_BATCH1/differential_splicing/gastrocnemius",
	"leafcutter_src" 	: "/oak/stanford/groups/smontgom/nicolerg/src/MOTRPAC/leafcutter",
	"tissue" 		: "gastrocnemius",
	"fastq_dir" 		: "/projects/motrpac/PASS1B/RNA/NOVASEQ_BATCH1/fastq_raw/gastrocnemius",
	"sj_tab_dir" 		: "/path/to/only/gastrocnemius/SJ.out.tab",
	"genome_index"		: "/path/to/rn6_ensembl_r96/star_index"
}
